body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-primary:hover {
    background-color: #563d7c;
    border-color: #563d7c;
}

.form-alert.text-success {
    color: #28a745;
}

.form-alert {
    color: #dc3545;
}

.token.text-success {
    color: #28a745;
}

.token {
    color: #dc3545;
}